<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casamento Ana e Francisco</title>
</head>
<body>
    <h1>Bem-vindo ao Casamento da Ana e Francisco</h1>
    <ul>
        <li><a href="/casamento">Detalhes do Casamento</a></li>
        <li><a href="/convidados">Convidados</a></li>
        <li><a href="/musicos">DJ's e Músicos</a></li>
        <li><a href="/wedding-planners">Feedback aos Wedding Planners</a></li>
    </ul>
</body>
</html>