<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background: url('{{ image_url }}') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <img src="{{ image_url }}" alt="Imagem do Casamento" class="header-image">
    </header>
    <h1 class="welcome-title">Bem-vindo ao Casamento da Ana e Francisco</h1>
    <ul class="menu-list">
        <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
        <li>
            <a href="{{ url_for('casamento') }}">Casamento</a>
            <ul class="submenu">
                <li><a href="{{ url_for('casamento') }}">Detalhes do Casamento</a></li>
                <li><a href="{{ url_for('convidados') }}">Lista de Convidados</a></li>
                <li><a href="{{ url_for('musicos') }}">DJ's e Músicos</a></li>
                <li><a href="{{ url_for('orcamento_final') }}">Orçamento Final</a></li>
                <li><a href="{{ url_for('wedding_planners') }}">Wedding Planners</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>